# Google Analytics 4
VITE_GA_MEASUREMENT_ID=

# LINE Login / LIFF
VITE_LINE_LIFF_ID=
VITE_LINE_LOGIN_CHANNEL_ID=
VITE_LINE_LOGIN_REDIRECT_URI=

# Meta Pixel
VITE_META_PIXEL_ID=

# LINE Tag
VITE_LINE_TAG_ID=
VITE_LINE_TAG_CUSTOMER_TYPE=lap
